html{
    font-family: 'Lora', serif;
}
body {
    background-color: rgba(111, 255, 0, 0.458);
}
h1{
    font-size: 80px;
    color: brown;
    margin-bottom: 0;
}
#primeira-div{
    min-height: 10px;
    font-size: 40px;
    color: rgb(69, 31, 31);
    border-color: rgba(32, 185, 75, 0);
    border-width: 80px;
}
span{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(232, 15, 15);
    background-color: rgba(28, 198, 207, 0.852);
}
